body {
  background-color: aliceblue;
  font-family: sans-serif;
  font-size: 17px;
}

.animation {
  background-color: thistle;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: reverse;
  font-size: 20px;
  display: inline;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
